html {
  box-sizing: 'border-box';
}

body {
  background-image: url('images/questionmarks.jpg');
}

img {
  width: 100px;
  height: 75px;
}

ul {
  list-style: none;
  display: inline;
}

footer {
  height: 70px;
  border-top:1px solid black;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: white;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.play {
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
}

#player-input{
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50%;
height: 160px;
width: 160px;
text-align: center;
font-size: 40px;
margin: 0 0 0px 50px;
}

#pad, h1 {
  padding: 20px;
  
}

#heady {
  font-family: 'Arial Black';
  font-size: 25px;
  margin-top: 20px;
}

.life {
  display: inline;
}

.lives-left {
  margin-right:50px;
}

#guess-list {
  height: 30px;
  padding-right: 30px;
}

.guess {
  display: inline;
  border: 1px solid black;
  border-radius: 15%;
  font-size: 30px;
  padding: 0 10px;
  margin: 0 5px;
  background-color: white;
}

.left {
  margin-right: 35px
}

#subtitle, h1 {
  font-family: 'Arial Black';
  font-size: 15px;
}

#submit {
  border-radius: 50%;
  width:60px;
  height:60px;
  position: relative;
  right: 60px;
  bottom: -55px;
}

#app {
  background-color: rgba(256, 256, 256, 0.5);
  margin: 20px auto;
  border-radius: 30%;
  height: 100%;
  width:75%;
}

.close {
  color:black;
}

.glyphicon-heart {
  color: red;
  font-size: 30px;
}

.glyphicon-cloud {
  font-size: 30px;
  transform: scale(1.5);
  transition: all 0.8s;
  color:white;
  transition-duration: 0.8s;
  transition-timing-function: linear;
}

.poof {
  transition: all 1s;
  transform: scale(0);
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

